.event-item {
	display: block;
	color: #666;
	text-decoration: none;
	transition: color 0.3s ease-out;
	&:hover {
		color: #999;
	}
}

.event-item__title {
	font-size: 16px;
	margin: 0;
}

.event-item__details {
	display: block;
	font-size: 12px;
	margin: 8px 0 0;
}
