.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; }

.modal__backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8); }

.modal__content {
  width: 600px;
  height: 380px;
  box-sizing: border-box;
  background: #222222;
  padding: 20px; }
