.button-toggle-show {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  background: #222222;
  line-height: 0;
  cursor: pointer; }

.button-toggle-show__line {
  height: 3px;
  display: block;
  margin: 0 0 2px 0; }
  .button-toggle-show__line::before {
    content: '';
    display: inline-block;
    width: 2px;
    height: 2px;
    background: #888;
    border-radius: 50%; }
  .button-toggle-show__line::after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 2px;
    background: #888;
    border-radius: 1px;
    margin-left: 3px; }
