.message-modal {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 400px;
    height: 160px;

    margin: auto;

    color: #666;
    // text-shadow: 1px 1px 5px #000;
    text-align: center;

    background: rgba(#222, 1);
    // border-right: 2px solid #272727;
    box-shadow:  3px 3px 20px rgba(#000, 0.6);
}
