/*
Made with http://www.colourco.de/
theme: #0e2427, #1b474d, #276a74, #338e9b, #3fb2c2
*/

@import "./styles/preloader.scss";
@import "./styles/event-marker.scss";
@import "./styles/events-index.scss";
@import "./styles/events-item.scss";
@import "./styles/event-map.scss";
@import "./styles/message-modal.scss";
@import "./styles/button-toggle-show.scss";
@import "./styles/info-panel.scss";
@import "./styles/modal.scss";

html,
body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	font-family: sans-serif;
}
