/*
Made with http://www.colourco.de/
theme: #0e2427, #1b474d, #276a74, #338e9b, #3fb2c2
*/
.preloader {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.preloader__circle-1,
.preloader__circle-2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #888;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out; }

.preloader__circle-2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

.event-marker {
  width: 140px;
  transform: translate(-70px, -100%);
  text-align: center; }

.event-marker__icon {
  display: block;
  margin: auto;
  width: 8px;
  height: 8px;
  background: #ccc;
  border: 1px solid #333;
  border-radius: 50%;
  animation: fade-in 1s ease-out; }

.event-marker__location {
  display: block;
  color: #888;
  font-size: 12px;
  text-shadow: 1px 1px 5px #000;
  margin-bottom: 0px;
  animation: fade-in-up 0.5s ease-out; }

.event-marker__time {
  display: block;
  color: #777;
  font-size: 10px;
  text-shadow: 1px 1px 5px #000;
  margin-bottom: 6px;
  animation: fade-in-up 0.5s ease-out; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(10px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.events-index {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100vw - 50px);
  max-width: 320px;
  height: 100vh;
  background: #222222;
  transform: translateX(100%);
  box-shadow: -10px 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.4s ease-in-out; }
  .events-index--is-open {
    transform: translateX(0%); }

.events-index__button-toggle-show {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  border-right: 1px solid #181818;
  box-shadow: -10px 5px 15px rgba(0, 0, 0, 0.3); }

.events-index__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.events-index__list-item {
  padding: 20px 26px;
  border-bottom: 1px solid #181818; }

.event-item {
  display: block;
  color: #666;
  text-decoration: none; }

.event-item__title {
  font-size: 16px;
  margin: 0; }

.event-item__details {
  display: block;
  font-size: 12px;
  margin: 8px 0 0; }

.event-item {
  display: block;
  color: #666;
  text-decoration: none;
  transition: color 0.3s ease-out; }
  .event-item:hover {
    color: #999; }

.event-item__title {
  font-size: 16px;
  margin: 0; }

.event-item__details {
  display: block;
  font-size: 12px;
  margin: 8px 0 0; }

.event-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; }

.message-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 400px;
  height: 160px;
  margin: auto;
  color: #666;
  text-align: center;
  background: #222222;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.6); }

.button-toggle-show {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  background: #222222;
  line-height: 0;
  cursor: pointer; }

.button-toggle-show__line {
  height: 3px;
  display: block;
  margin: 0 0 2px 0; }
  .button-toggle-show__line::before {
    content: '';
    display: inline-block;
    width: 2px;
    height: 2px;
    background: #888;
    border-radius: 50%; }
  .button-toggle-show__line::after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 2px;
    background: #888;
    border-radius: 1px;
    margin-left: 3px; }

.info-panel {
  position: absolute;
  top: 40px;
  left: 20px;
  font-size: 14px;
  color: #888; }

.info-panel__title {
  font-size: 20px;
  margin: 0;
  text-shadow: 1px 1px 5px #000; }

.info-panel__body {
  font-size: 12px;
  margin-top: 6px;
  text-shadow: 1px 1px 5px #000; }

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif; }
