/*

Made with http://www.colourco.de/
theme: #0e2427, #1b474d, #276a74, #338e9b, #3fb2c2

*/

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.map-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.events-index-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    height: 100vh;
    background: #2e2e2e;
    overflow: auto;
    box-sizing: border-box;
    border-right: 2px solid #272727;
}

.events-index__header {
    padding: 15px 30px;
    color: #656565;
    border-bottom: 2px solid #272727;
}
